$dark-navy: #313E51;
$navy: #3B4D66;
$grey-navy: #626C7F;

$light-bluish: #ABC1E1;
$light-grey: #F4F6FA;
$pure-white: #FFFFFF;

$purple: #a729f5;
$green: #26D782;
$red: #EE5454;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $light-grey;
    position: relative;
}

.pattern-bg {
    position: absolute;
    z-index: -1;
    display: none;

    &--active {
        display: block;
    }
}

.darkmode {
    background-color: $dark-navy;

    .start-menu {
        &__title {
            color: $pure-white;
        }

        &__caption {
            color: $light-bluish;
        }

        &__subject {
            background-color: $navy;

            color: $pure-white;
        }
    }
}

header {
    padding: 16px 24px;
    display: flex;
    justify-content: center;
}

.header-inner {
    max-width: 375px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.subject-container {
    width: 167px;
    height: 40px;
}

.darkmode-switch {
    display: flex;
    align-items: center;

    &__icon {
        display: none;

        &--active {
            display: block;
        }
    }
}

.darkmode-switch__btn {
    margin: 0 8px;
    position: relative;
    display: block;
    width: 32px;
    height: 20px;
    border-radius: 999px;
    background-color: $purple;
    cursor: pointer;

    &:has(:focus-visible) {
        outline: auto;
        outline: auto -webkit-focus-ring-color;
    }

    &-checkbox {
        appearance: none;
        position: absolute;
        top: 50%;
        left: 4px;
        width: 12px;
        height: 12px;
        border-radius: 999px;
        transform: translateY(-50%);
        outline: none;
        background-color: $pure-white;
        transition: left 0.2s;
        cursor: pointer;

        &:checked {
            left: calc(100% - 16px);
        }
    }
}

main {
    padding: 0 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

picture {
    display: flex;
}

.start-menu {
    margin-top: 32px;
    width: 100%;
    max-width: 327px;

    &__title {
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 300;
        font-size: 40px;
        line-height: 100%;

        color: $dark-navy;

        &--bold {
            margin-top: 8px;
            font-weight: 500;
            color: $dark-navy;
        }
    }

    &__caption {
        margin-top: 16px;
        font-family: 'Rubik';
        font-style: italic;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;

        color: $grey-navy;
    }

    &__subjects-container {
        margin-top: 40px;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }

    &__subject {
        padding: 12px;
        border: none;
        width: 100%;
        height: 64px;
        box-shadow: 0px 16px 40px rgba(143, 160, 193, 0.14);
        border-radius: 12px;

        background-color: $pure-white;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 16px;

        font-family: 'Rubik';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 100%;

        color: $dark-navy;
    }

    &__img-box {
        width: 40px;
        height: 40px;
        border-radius: 6px;

        display: flex;
        align-items: center;
        justify-content: center;

        &--html {
            background: #FFF1E9;
        }

        &--css {
            background: #E0FDEF;
        }

        &--javascript {
            background-color: #EBF0FF;
        }

        &--accessibility {
            background-color: #F6E7FF;
        }
    }

    &__img {
        width: 28.57px;
        height: 28.57px;
    }
}

.quiz-page {
    margin-top: 32px;
    width: 100%;
    max-width: 327px;

    &__questions-count {
        font-family: 'Rubik';
        font-style: italic;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;

        color: $grey-navy;
    }

    &__question {
        margin-top: 12px;
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;

        color: $dark-navy;
    }

    &__progress-bar {
        margin-top: 24px;
        padding: 4px;
        width: 100%;
        height: 16px;

        background: $pure-white;
        border-radius: 999px;

        display: flex;
        align-items: center;
        justify-content: flex-start;

        div {
            width: 50%;
            height: 8px;

            background: $purple;
            border-radius: 104px;

        }
    }

    &__answers-container {
        margin-top: 40px;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }

    &__answer-btn {
        padding: 12px;
        border: none;
        width: 100%;
        height: 64px;
        box-shadow: 0px 16px 40px rgba(143, 160, 193, 0.14);
        border-radius: 12px;
        background-color: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 16px;
        font-family: "Rubik";
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 100%;
        color: #313E51;

        &--active {
            border: 3px solid $purple;

            .quiz-page__answer-box {
                background-color: $purple;

                color: $pure-white;
            }
        }

        &--correct {
            border: 3px solid $green;

            .quiz-page__answer-box {
                background-color: $green;

                color: $pure-white;
            }
        }

        &--correct-icon {
            position: relative;

            &::after {
                content: "";
                width: 32px;
                height: 32px;

                background-image: url("../images/icon-correct.svg");
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                
                position: absolute;
                top: 16px;
                right: 12px;
            }
        }

        &--wrong {
            border: 3px solid $red;
            position: relative;

            .quiz-page__answer-box {
                background-color: $red;
                color: $pure-white;
            }

            &::after {
                content: "";
                width: 32px;
                height: 32px;

                background-image: url("../images/icon-incorrect.svg");
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                
                position: absolute;
                top: 13px;
                right: 9px;
            }
        }
    }

    &__answer-box {
        padding: 11px 13px 11px 14px;
        width: 40px;
        height: 40px;
        border-radius: 6px;

        background-color: $light-grey;
    }

    &__submit-btn,
    &__next-question-btn {
        margin-top: 12px;

        width: 100%;
        height: 56px;
        border: none;

        background: $purple;
        box-shadow: 0px 16px 40px rgba(143, 160, 193, 0.14);
        border-radius: 12px;

        font-family: 'Rubik';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 100%;

        color: $pure-white;

        &--active {
            display: block;
        }
    }

    &__error {
        margin-top: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;

        font-family: 'Rubik';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 100%;
        text-align: center;

        color: $red;

        &-img {
            width: 32px;
            height: 32px;
        }
    }
}

.score-page {
    margin-top: 32px;
    width: 100%;
    max-width: 327px;

    &__title {
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 300;
        font-size: 40px;
        line-height: 100%;

        color: $dark-navy;

        &-bold {
            margin-top: 8px;
            display: block;
            font-weight: 500;
        }
    }

    &__score-display {
        margin-top: 40px;
        padding: 32px;
        border-radius: 12px;

        background-color: $pure-white;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__subject {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 16px;

        font-family: 'Rubik';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 100%;

        color: $dark-navy;
    }

    &__img-box {
        width: 40px;
        height: 40px;
        border-radius: 6px;

        display: flex;
        align-items: center;
        justify-content: center;

        &--html {
            background-color: #FFF1E9;
        }

        &--css {
            background-color: #E0FDEF;
        }

        &--javascript {
            background-color: #EBF0FF;
        }

        &--accessibility {
            background-color: #F6E7FF;
        }
    }

    &__score {
        margin-top: 16px;

        font-family: 'Rubik';
        font-style: normal;
        font-weight: 500;
        font-size: 88px;
        line-height: 100%;

        color: $dark-navy;
    }

    &__caption {
        margin-top: 16px;

        font-family: 'Rubik';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 100%;

        color: $grey-navy;
    }

    &__btn {
        margin-top: 12px;

        width: 100%;
        height: 56px;
        border: none;

        background: $purple;
        box-shadow: 0px 16px 40px rgba(143, 160, 193, 0.14);
        border-radius: 12px;

        font-family: 'Rubik';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 100%;

        color: $pure-white;

    }
}

@media only screen and (min-width: 768px) {
    header {
        padding: 40px 0 0;
    }
    
    .header-inner {
        max-width: 640px;
    }

    .subject-container {
        width: 253px;
        height: 56px;
    }

    .darkmode-switch__btn {
        margin: 0 16px;
        width: 48px;
        height: 28px;
        &-checkbox {
            width: 20px;
            height: 20px;

            &:checked {
                left: calc(100% - 24px);
            }
        }
    }

    .darkmode-switch__btn {
        width: 48px;
        height: 28px;
    }

    .start-menu {
        max-width: 640px;

        &__title {
            font-size: 64px;
        }

        &__caption {
            font-size: 20px;
        }

        &__subjects-container {
            margin-top: 64px;
            gap: 24px;
        }

        &__subject {
            height: 80px;
            gap: 32px;

            font-size: 28px;
        }

        &__img-box {
            width: 56px;
            height: 56px;
        }

        &__img {
            width: 40px;
            height: 40px;
        }
    }
}

@media only screen and (min-width: 1440px) {
    header {
        padding: 83px 0 0;
    }
    .header-inner {
        max-width: 1157px;
    }
    .start-menu {
        margin-top: 85px;
        max-width: 1160px;
        
        display: flex;
        justify-content: space-between;

        &__caption {
            margin-top: 48px;
        }

        &__subjects-container {
            margin-top: 0;
            width: 564px;
        }

        &__subject {
            padding: 20px;
            height: 96px;
        }
    }
}