$dark-navy: #313E51;
$navy: #3B4D66;
$grey-navy: #626C7F;

$light-bluish: #ABC1E1;
$light-grey: #F4F6FA;
$light-purple: #F6E7FF;
$pure-white: #FFFFFF;

$purple: #a729f5;
$green: #26D782;
$red: #EE5454;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $light-grey;
    position: relative;
}

.pattern-bg {
    position: absolute;
    z-index: -1;
    display: none;

    &--active {
        display: block;
    }
}

.darkmode {
    background-color: $dark-navy;

    .start-menu {
        &__title {
            color: $pure-white;
        }

        &__caption {
            color: $light-bluish;
        }

        &__subject {
            background-color: $navy;

            color: $pure-white;
        }
    }

    .quiz-page {
        &__questions-count {
            color: $light-bluish;
        }
    
        &__question {
            color: $pure-white;
        }
    
        &__progress-bar {
            background: $navy;
        }
    
        &__answer-btn {
            border: 3px solid $navy;
    
            background-color: $navy;
    
            color: $pure-white;

            &--active {
                border: 3px solid $purple;
            }
    
            &--correct {
                border: 3px solid $green;
            }
    
            &--wrong {
                border: 3px solid $red;
            }
        }
    
        &__error {
            color: $pure-white;
        }

        box-shadow: 0px 16px 40px rgba(143, 160, 193, 0.14);

        box-shadow: 0px 16px 40px rgba(49, 62, 81, 0.14);
    }

    .score-page {
        &__title {
            color: $pure-white;
        }
    
        &__score-display {
            background-color: $navy;
        }
    
        &__subject {
            color: $pure-white;
        }
    
        &__score {
            color: $pure-white;
        }
    
        &__caption {
            color: $light-bluish;
        }
    }
}

header {
    padding: 16px 24px;
    display: flex;
    justify-content: center;
}

.header-inner {
    max-width: 375px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#subject-container {
    width: 167px;
    height: 40px;
}

.darkmode-switch {
    display: flex;
    align-items: center;

    &__icon {
        display: none;

        &--active {
            display: block;
        }
    }
}

.darkmode-switch__btn {
    margin: 0 8px;
    position: relative;
    display: block;
    width: 32px;
    height: 20px;
    border-radius: 999px;
    background-color: $purple;
    cursor: pointer;

    &:has(:focus-visible) {
        outline: auto;
        outline: auto -webkit-focus-ring-color;
    }

    &-checkbox {
        appearance: none;
        position: absolute;
        top: 50%;
        left: 4px;
        width: 12px;
        height: 12px;
        border-radius: 999px;
        transform: translateY(-50%);
        outline: none;
        background-color: $pure-white;
        transition: left 0.2s;
        cursor: pointer;

        &:checked {
            left: calc(100% - 16px);
        }
    }
}

main {
    padding: 0 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

picture {
    display: flex;
}

.start-menu {
    margin: 32px 0 251px;
    width: 100%;
    max-width: 327px;

    display: none;

    &--active {
        display: block;
    }

    &__title {
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 300;
        font-size: 40px;
        line-height: 100%;

        color: $dark-navy;

        &--bold {
            margin-top: 8px;
            font-weight: 500;
            color: $dark-navy;
        }
    }

    &__caption {
        margin-top: 16px;
        font-family: 'Rubik';
        font-style: italic;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;

        color: $grey-navy;
    }

    &__subjects-container {
        margin-top: 40px;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }

    &__subject {
        padding: 12px;
        border: none;
        width: 100%;
        height: 64px;
        box-shadow: 0px 16px 40px rgba(143, 160, 193, 0.14);
        border-radius: 12px;

        background-color: $pure-white;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 16px;

        font-family: 'Rubik';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 100%;

        color: $dark-navy;
    }

    &__img-box {
        width: 40px;
        height: 40px;
        border-radius: 6px;

        display: flex;
        align-items: center;
        justify-content: center;

        &--html {
            background-color: #FFF1E9;
        }

        &--css {
            background-color: #E0FDEF;
        }

        &--javascript {
            background-color: #EBF0FF;
        }

        &--accessibility {
            background-color: #F6E7FF;
        }
    }

    &__img {
        width: 28.57px;
        height: 28.57px;
    }
}

.quiz-page {
    margin: 32px 0 95px;
    width: 100%;
    max-width: 327px;

    display: none;

    &--active {
        display: block;
    }

    &__questions-count {
        font-family: 'Rubik';
        font-style: italic;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;

        color: $grey-navy;
    }

    &__question {
        margin-top: 12px;
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;

        color: $dark-navy;
    }

    &__progress-bar {
        margin-top: 24px;
        padding: 4px;
        width: 100%;
        height: 16px;

        background: $pure-white;
        border-radius: 999px;

        display: flex;
        align-items: center;
        justify-content: flex-start;

        div {
            width: 0%;
            height: 8px;

            background: $purple;
            border-radius: 104px;

            transition: width .5s ease-out;
        }
    }

    &__answers {
        margin-top: 40px;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }

    &__answer-btn {
        padding: 9px 57px 9px 9px;
        border: 3px solid $pure-white;
        width: 100%;
        min-height: 64px;
        border-radius: 12px;

        box-shadow: 0px 16px 40px rgba(143, 160, 193, 0.14);
        background-color: $pure-white;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 16px;

        font-family: "Rubik";
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 100%;

        color: $dark-navy;
        text-align: left;


        &--active {
            border: 3px solid $purple;

            .quiz-page__answer-box {
                background-color: $purple;

                color: $pure-white;
            }
        }

        &--correct {
            border: 3px solid $green;

            .quiz-page__answer-box {
                background-color: $green;

                color: $pure-white;
            }
        }

        &--correct-icon {
            position: relative;

            &::after {
                content: "";
                width: 32px;
                height: 32px;

                background-image: url("../images/icon-correct.svg");
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                
                position: absolute;
                right: 9px;
            }
        }

        &--wrong {
            border: 3px solid $red;
            position: relative;

            .quiz-page__answer-box {
                background-color: $red;
                color: $pure-white;
            }

            &::after {
                content: "";
                width: 32px;
                height: 32px;

                background-image: url("../images/icon-incorrect.svg");
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                
                position: absolute;
                right: 9px;
            }
        }
    }

    &__answer-box {
        padding: 11px 13px 11px 14px;
        width: 40px;
        height: 40px;

        border-radius: 6px;

        display: flex;
        align-items: center;
        justify-content: center;

        color: $grey-navy;

        background-color: $light-grey;
    }

    &__answer-option {
        max-inline-size: 199px;
    }

    &__submit-btn,
    &__next-question-btn {
        margin-top: 12px;

        width: 100%;
        height: 56px;
        border: none;

        background: $purple;
        box-shadow: 0px 16px 40px rgba(143, 160, 193, 0.14);
        border-radius: 12px;

        display: none;

        font-family: 'Rubik';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 100%;

        color: $pure-white;

        &--active {
            display: block;
        }
    }

    &__error {
        margin-top: 12px;

        display: none;

        align-items: center;
        justify-content: center;
        gap: 8px;

        font-family: 'Rubik';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 100%;
        text-align: center;

        color: $red;

        &-img {
            width: 32px;
            height: 32px;
        }

        &--active {
            display: flex;
        }
    }
}

.score-page {
    margin-top: 32px;
    width: 100%;
    max-width: 327px;

    display: none;

    &--active {
        display: block;
    }

    &__title {
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 300;
        font-size: 40px;
        line-height: 100%;

        color: $dark-navy;

        &-bold {
            margin-top: 8px;
            display: block;
            font-weight: 500;
        }
    }

    &__score-display {
        margin-top: 40px;
        padding: 32px;
        border-radius: 12px;

        background-color: $pure-white;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__subject {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 16px;

        font-family: 'Rubik';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 100%;

        color: $dark-navy;
    }

    &__img-box {
        width: 40px;
        height: 40px;
        border-radius: 6px;

        display: flex;
        align-items: center;
        justify-content: center;

        &--html {
            background-color: #FFF1E9;
        }

        &--css {
            background-color: #E0FDEF;
        }

        &--javascript {
            background-color: #EBF0FF;
        }

        &--accessibility {
            background-color: #F6E7FF;
        }
    }

    &__score {
        margin-top: 16px;

        font-family: 'Rubik';
        font-style: normal;
        font-weight: 500;
        font-size: 88px;
        line-height: 100%;

        color: $dark-navy;
    }

    &__caption {
        margin-top: 16px;

        font-family: 'Rubik';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 100%;

        color: $grey-navy;
    }

    &__btn {
        margin-top: 12px;

        width: 100%;
        height: 56px;
        border: none;

        background: $purple;
        box-shadow: 0px 16px 40px rgba(143, 160, 193, 0.14);
        border-radius: 12px;

        font-family: 'Rubik';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 100%;

        color: $pure-white;

    }
}

@media only screen and (min-width: 768px) {
    header {
        padding: 40px 0 0;
    }
    
    .header-inner {
        max-width: 640px;
    }

    #subject-container {
        width: 253px;
        height: 56px;
    }

    .darkmode-switch__btn {
        margin: 0 16px;
        width: 48px;
        height: 28px;
        &-checkbox {
            width: 20px;
            height: 20px;

            &:checked {
                left: calc(100% - 24px);
            }
        }
    }

    .darkmode-switch__btn {
        width: 48px;
        height: 28px;
    }

    .start-menu {
        margin: 49px 0 241px;
        max-width: 640px;

        &__title {
            font-size: 64px;
        }

        &__caption {
            font-size: 20px;
        }

        &__subjects-container {
            margin-top: 64px;
            gap: 24px;
        }

        &__subject {
            border-radius: 24px;
            height: 80px;
            gap: 32px;

            font-size: 28px;
        }

        &__img-box {
            width: 56px;
            height: 56px;
            border-radius: 12px;
        }

        &__img {
            width: 40px;
            height: 40px;
        }
    }

    .quiz-page {
        margin: 49px 0 57px;
        max-width: 640px;

        &__question-count {
            font-size: 20px;
        }

        &__question {
            margin-top: 27px;
            font-size: 36px;
        }

        &__progress-bar {
            margin-top: 40px;
        }

        &__answers {
            margin-top: 64px;

            gap: 24px;
        }

        &__answer-btn {
            min-height: 80px;
            border-radius: 24px;
            gap: 32px;

            font-size: 28px;

            &--correct-icon { 
                &::after {
                    width: 40px;
                    height: 40px;
                    
                    right: 17px;
                }
            }
    
            &--wrong {
                &::after {
                    width: 40px;
                    height: 40px;
                    
                    right: 17px;
                }
            }
        }

        &__answer-option {
            max-inline-size: 456px;
        }

        &__answer-box {
            width: 56px;
            height: 56px;
            border-radius: 12px;
        }

        &__submit-btn,
        &__next-question-btn {
            margin-top: 32px;      
            height: 92px;
            border-radius: 24px;

            font-size: 28px;
        }

        &__error {
            margin-top: 32px;
            font-size: 24px;

            &-img {
                width: 40px;
                height: 40px;
            }
        }
    }
    
    .score-page {
        margin: 49px 0 167px;
        max-width: 640px;

        &__title {
            font-size: 64px;
        }

        &__score-display {
            padding: 48px;
            border-radius: 24px;
        }

        &__subject {
            gap: 24px;
            font-size: 28px;
        }

        &__img-box {
            width: 56px;
            height: 56px;
            border-radius: 12px;

            img {
                width: 40px;
                height: 40px;
            }
        }

        &__score {
            margin-top: 40px;
            font-size: 144px;
        }

        &__caption {
            font-size: 24px;
            line-height: 150%;
        }

        &__btn {
            margin-top: 32px;
            height: 92px;
            border-radius: 24px;
            font-size: 28px;
        }
    }
}

@media only screen and (min-width: 1440px) {
    header {
        padding: 83px 0 0;
    }

    .header-inner {
        max-width: 1157px;
    }

    .start-menu {
        margin: 85px 0 280px;
        max-width: 1160px;
        
        justify-content: space-between;

        &--active {
            display: flex;
        }

        &__caption {
            margin-top: 48px;
        }

        &__subjects-container {
            margin-top: 0;
            width: 564px;
        }

        &__subject {
            padding: 20px;
            height: 96px;
        }
    }

    .quiz-page {
        margin: 85px 0 172px;
        max-width: 1160px;

        justify-content: space-between;


        &--active {
            display: flex;
        }

        &__question-container {
            max-width: 465px;
            width: 100%;
        }

        &__questions-count {
            font-family: 'Rubik';
            font-style: italic;
            font-weight: 400;
            font-size: 20px;
            line-height: 150%;
        }

        &__question {
            font-family: 'Rubik';
            font-style: normal;
            font-weight: 500;
            font-size: 36px;
            line-height: 120%;
        }

        &__progress-bar {
            margin-top: 164px;
        }

        &__answers-container {
            max-width: 564px;
            width: 100%;
        } 

        &__answers {
            margin: 0;
        }

        &__answer-btn {
            min-height: 92px;
            padding: 15px 60px 15px 17px;
        }

        &__answer-option {
            max-inline-size: 364px;
        }
    }

    .score-page {
        margin: 85px 0 224px;
        max-width: 1160px;

        justify-content: space-between;

        &--active {
            display: flex;
        }

        &__title {
            max-width: 450px;
            width: 100%;
        }

        &__second-part {
            max-width: 564px;
            width: 100%;
        }

        &__score-display {
            margin-top: 0;
        }
    }
}

@media (hover: hover) and (pointer: fine) {
    button:not(:disabled) {
        cursor: pointer;
    }

    .quiz-page {
        &__answer-btn {
            &:not(.quiz-page__answer-btn--active, .quiz-page__answer-btn:disabled):hover {
                .quiz-page {
                    &__answer-box {
                        color: $purple;

                        background-color: $light-purple;
                    }
                }
            }
        }
        
        &__submit-btn:hover,
        &__next-question-btn:hover {
            background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), $purple;
        }
    }
}