* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F4F6FA;
  position: relative;
}

.pattern-bg {
  position: absolute;
  z-index: -1;
  display: none;
}
.pattern-bg--active {
  display: block;
}

.darkmode {
  background-color: #313E51;
}
.darkmode .start-menu__title {
  color: #FFFFFF;
}
.darkmode .start-menu__caption {
  color: #ABC1E1;
}
.darkmode .start-menu__subject {
  background-color: #3B4D66;
  color: #FFFFFF;
}
.darkmode .quiz-page__questions-count {
  color: #ABC1E1;
}
.darkmode .quiz-page__question {
  color: #FFFFFF;
}
.darkmode .quiz-page__progress-bar {
  background: #3B4D66;
}
.darkmode .quiz-page__answer-btn {
  border: 3px solid #3B4D66;
  background-color: #3B4D66;
  color: #FFFFFF;
}
.darkmode .quiz-page__answer-btn--active {
  border: 3px solid #a729f5;
}
.darkmode .quiz-page__answer-btn--correct {
  border: 3px solid #26D782;
}
.darkmode .quiz-page__answer-btn--wrong {
  border: 3px solid #EE5454;
}
.darkmode .quiz-page__error {
  color: #FFFFFF;
}
.darkmode .score-page__title {
  color: #FFFFFF;
}
.darkmode .score-page__score-display {
  background-color: #3B4D66;
}
.darkmode .score-page__subject {
  color: #FFFFFF;
}
.darkmode .score-page__score {
  color: #FFFFFF;
}
.darkmode .score-page__caption {
  color: #ABC1E1;
}

header {
  padding: 16px 24px;
  display: flex;
  justify-content: center;
}

.header-inner {
  max-width: 375px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.subject-container {
  width: 167px;
  height: 40px;
}

.darkmode-switch {
  display: flex;
  align-items: center;
}
.darkmode-switch__icon {
  display: none;
}
.darkmode-switch__icon--active {
  display: block;
}

.darkmode-switch__btn {
  margin: 0 8px;
  position: relative;
  display: block;
  width: 32px;
  height: 20px;
  border-radius: 999px;
  background-color: #a729f5;
  cursor: pointer;
}
.darkmode-switch__btn:has(:focus-visible) {
  outline: auto;
  outline: auto -webkit-focus-ring-color;
}
.darkmode-switch__btn-checkbox {
  appearance: none;
  position: absolute;
  top: 50%;
  left: 4px;
  width: 12px;
  height: 12px;
  border-radius: 999px;
  transform: translateY(-50%);
  outline: none;
  background-color: #FFFFFF;
  transition: left 0.2s;
  cursor: pointer;
}
.darkmode-switch__btn-checkbox:checked {
  left: calc(100% - 16px);
}

main {
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

picture {
  display: flex;
}

.start-menu {
  margin-top: 32px;
  width: 100%;
  max-width: 327px;
  display: none;
}
.start-menu--active {
  display: block;
}
.start-menu__title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 100%;
  color: #313E51;
}
.start-menu__title--bold {
  margin-top: 8px;
  font-weight: 500;
  color: #313E51;
}
.start-menu__caption {
  margin-top: 16px;
  font-family: "Rubik";
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #626C7F;
}
.start-menu__subjects-container {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
.start-menu__subject {
  padding: 12px;
  border: none;
  width: 100%;
  height: 64px;
  box-shadow: 0px 16px 40px rgba(143, 160, 193, 0.14);
  border-radius: 12px;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  color: #313E51;
}
.start-menu__img-box {
  width: 40px;
  height: 40px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.start-menu__img-box--html {
  background-color: #FFF1E9;
}
.start-menu__img-box--css {
  background-color: #E0FDEF;
}
.start-menu__img-box--javascript {
  background-color: #EBF0FF;
}
.start-menu__img-box--accessibility {
  background-color: #F6E7FF;
}
.start-menu__img {
  width: 28.57px;
  height: 28.57px;
}

.quiz-page {
  margin-top: 32px;
  width: 100%;
  max-width: 327px;
  display: none;
}
.quiz-page--active {
  display: block;
}
.quiz-page__questions-count {
  font-family: "Rubik";
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #626C7F;
}
.quiz-page__question {
  margin-top: 12px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: #313E51;
}
.quiz-page__progress-bar {
  margin-top: 24px;
  padding: 4px;
  width: 100%;
  height: 16px;
  background: #FFFFFF;
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.quiz-page__progress-bar div {
  width: 0%;
  height: 8px;
  background: #a729f5;
  border-radius: 104px;
  transition: width 0.5s ease-out;
}
.quiz-page__answers-container {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
.quiz-page__answer-btn {
  padding: 9px 57px 9px 9px;
  border: 3px solid #FFFFFF;
  width: 100%;
  height: 64px;
  border-radius: 12px;
  box-shadow: 0px 16px 40px rgba(143, 160, 193, 0.14);
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  color: #313E51;
  text-align: left;
}
.quiz-page__answer-btn--active {
  border: 3px solid #a729f5;
}
.quiz-page__answer-btn--active .quiz-page__answer-box {
  background-color: #a729f5;
  color: #FFFFFF;
}
.quiz-page__answer-btn--correct {
  border: 3px solid #26D782;
}
.quiz-page__answer-btn--correct .quiz-page__answer-box {
  background-color: #26D782;
  color: #FFFFFF;
}
.quiz-page__answer-btn--correct-icon {
  position: relative;
}
.quiz-page__answer-btn--correct-icon::after {
  content: "";
  width: 32px;
  height: 32px;
  background-image: url("../images/icon-correct.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 13px;
  right: 9px;
}
.quiz-page__answer-btn--wrong {
  border: 3px solid #EE5454;
  position: relative;
}
.quiz-page__answer-btn--wrong .quiz-page__answer-box {
  background-color: #EE5454;
  color: #FFFFFF;
}
.quiz-page__answer-btn--wrong::after {
  content: "";
  width: 32px;
  height: 32px;
  background-image: url("../images/icon-incorrect.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 13px;
  right: 9px;
}
.quiz-page__answer-box {
  padding: 11px 13px 11px 14px;
  width: 40px;
  height: 40px;
  border-radius: 6px;
  color: #313E51;
  background-color: #F4F6FA;
}
.quiz-page__submit-btn, .quiz-page__next-question-btn {
  margin-top: 12px;
  width: 100%;
  height: 56px;
  border: none;
  background: #a729f5;
  box-shadow: 0px 16px 40px rgba(143, 160, 193, 0.14);
  border-radius: 12px;
  display: none;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  color: #FFFFFF;
}
.quiz-page__submit-btn--active, .quiz-page__next-question-btn--active {
  display: block;
}
.quiz-page__error {
  margin-top: 12px;
  display: none;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  color: #EE5454;
}
.quiz-page__error-img {
  width: 32px;
  height: 32px;
}
.quiz-page__error--active {
  display: flex;
}

.score-page {
  margin-top: 32px;
  width: 100%;
  max-width: 327px;
  display: none;
}
.score-page--active {
  display: block;
}
.score-page__title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 100%;
  color: #313E51;
}
.score-page__title-bold {
  margin-top: 8px;
  display: block;
  font-weight: 500;
}
.score-page__score-display {
  margin-top: 40px;
  padding: 32px;
  border-radius: 12px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.score-page__subject {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  color: #313E51;
}
.score-page__img-box {
  width: 40px;
  height: 40px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.score-page__img-box--html {
  background-color: #FFF1E9;
}
.score-page__img-box--css {
  background-color: #E0FDEF;
}
.score-page__img-box--javascript {
  background-color: #EBF0FF;
}
.score-page__img-box--accessibility {
  background-color: #F6E7FF;
}
.score-page__score {
  margin-top: 16px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 88px;
  line-height: 100%;
  color: #313E51;
}
.score-page__caption {
  margin-top: 16px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #626C7F;
}
.score-page__btn {
  margin-top: 12px;
  width: 100%;
  height: 56px;
  border: none;
  background: #a729f5;
  box-shadow: 0px 16px 40px rgba(143, 160, 193, 0.14);
  border-radius: 12px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  color: #FFFFFF;
}

@media only screen and (min-width: 768px) {
  header {
    padding: 40px 0 0;
  }

  .header-inner {
    max-width: 640px;
  }

  .subject-container {
    width: 253px;
    height: 56px;
  }

  .darkmode-switch__btn {
    margin: 0 16px;
    width: 48px;
    height: 28px;
  }
  .darkmode-switch__btn-checkbox {
    width: 20px;
    height: 20px;
  }
  .darkmode-switch__btn-checkbox:checked {
    left: calc(100% - 24px);
  }

  .darkmode-switch__btn {
    width: 48px;
    height: 28px;
  }

  .start-menu {
    max-width: 640px;
  }
  .start-menu__title {
    font-size: 64px;
  }
  .start-menu__caption {
    font-size: 20px;
  }
  .start-menu__subjects-container {
    margin-top: 64px;
    gap: 24px;
  }
  .start-menu__subject {
    height: 80px;
    gap: 32px;
    font-size: 28px;
  }
  .start-menu__img-box {
    width: 56px;
    height: 56px;
  }
  .start-menu__img {
    width: 40px;
    height: 40px;
  }
}
@media only screen and (min-width: 1440px) {
  header {
    padding: 83px 0 0;
  }

  .header-inner {
    max-width: 1157px;
  }

  .start-menu {
    margin-top: 85px;
    max-width: 1160px;
    justify-content: space-between;
  }
  .start-menu--active {
    display: flex;
  }
  .start-menu__caption {
    margin-top: 48px;
  }
  .start-menu__subjects-container {
    margin-top: 0;
    width: 564px;
  }
  .start-menu__subject {
    padding: 20px;
    height: 96px;
  }
}